body {
  background: #AFC4E0;
  color: #1E56A0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: light;
}

h1, h2, h3 {
  color: #163172;
  font-family: 'Julius Sans One', sans-serif;
}

h1 {
  color: #283E56;
  font-size: 32px;
}


a {
  text-decoration: none;
  color: #71A0A5;
  font-weight: bold;
}

a:hover {
  color: #8594E4;
}

.container {
  background: #AFC4E0;
  width: 700px;
  margin: 20 auto;
}

.card {
  background: #ECECEC;
  width: 600px;
  margin: 20 auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
  text-align: center;
}

.text-italic {
  font-style: italic;
  font-size: 12px;
  padding-left: 10px;
  text-align: justify;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background: rgba(30, 86, 160, 0.2);
  color: #1E56A0;
  margin: 20 auto;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(30, 86, 160, 0.7);
}

.text-center {
  text-align: center;
}

.star-gold {
  color: #DAA520;
}

#sidebar {
  background: #4A4A4A;
  position: fixed;
  width: 90px;
  left: 0;
  top: 0;
  bottom: 0;
}

#sidebar li {
  list-style :none;
  padding: 10px 10 px;
  font-size: 24px;
  padding-left: 0;
}

#page-content {
  margin-left: 90px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

